<div class="col-sm-12" data-package="123">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>Package ID</td>
                <td>Carrier Box #</td>
                <td>SKU</td>
                <td>Product Name</td>
                <td>Serials</td>
                <td>Unit Price</td>
                <td>QTY</td>
                <td>Value</td>
                <td>Currency</td>
                <td>RMA #</td>
            </tr>
        </thead>
        <tbody>
            <tr data-item="321">
                <td>123</td>
                <td>234</td>
                <td>
                    <span class="text">123456789</span>
                    <input type="text" class="form-control input" value="123456789" />
                </td>
                <td>SKU Test-1</td>
                <td>
                    <span class="text">abcdefghijklmn</span>
                    <input type="text" class="form-control input" value="abcdefghijklmn" />
                </td>
                <td>
                    <span class="text">345.67</span>
                    <input type="text" class="form-control input" value="345.67" />
                </td>
                <td>
                    <span class="text">1</span>
                    <input type="text" class="form-control input" value="1" />
                </td>
                <td>345.67</td>
                <td>USA</td>
                <td>987</td>
            </tr>
        </tbody>
    </table>
</div>
