<div id="ribbon">
    <ol class="breadcrumb">
        <li><a href="#">@PurchaseOrderSys.App_GlobalResources.Resource.Title</a></li>
        <li>麵包屑1</li>
        <li>麵包屑2</li>
        <li>麵包屑3</li>
    </ol>
</div>
