@model  PurchaseSKUVM
@{
    ViewBag.Title = "Index";
}
@*@Html.DisplayNameFor(x=>Model.Name)*@
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="table-parent tool-content col-xs-12">
                <div class="action-button col-xs-2 col-xs-offset-10">
                    <a class="btn btn-default" href="@Url.Action("Create")">新增</a>
                </div>
            </div>
        </div>

        <div class="row">
            <article class="col-xs-12">
                <table id="DataGrid"></table>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    @Html.DataGridFor(x => Model, "#DataGrid", true, "PurchaseSKUList", "ID",true,false,false,false,false)
}

